h1 {
    text-align: center;
    color: #0096FF;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    
}

body { 
    background-image: url("\pexels-samandgos-709552.jpg");
    background-size: cover;
}

nav{
    text-align: center;
    position: fixed(0,0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 16px 20px 30px 20px;
    align-items: center;
    transition: 0.3s ease-out;
    backdrop-filter: blur(8px) brightness(1.2);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-size: 16px;
}

nav a{

    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-weight: 600;
    margin: 50px;
    color: 0096FF;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    color: #000000;
        
}

nav a:hover,
nav a.active{
    color: #8f8d8d;
    border-bottom: 3px solid #8f8d8d;
    transform: scale(1.2);
}